@model AppBancoDominio.Conta

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Criar Conta</title>
    <link rel="sortcut icon" href="~/fonts/Home_Func/logo_copo.png" type="image/png">
    <script src="~/Assets/jquery/jquery.min.js"></script>
    <style>
        body {
            margin: 0;
            background-color: #fff6e5;
        }

        header, .back {
            display: flex;
        }

        .back {
            padding-left: 20%;
            margin: 25% 1%;
        }

        header img {
            width: 2vw;
            height: 2vw;
            margin: 30% 6%;
        }

        header h3 {
            color: #9f4845;
            font: bold 15pt Comic Sans MS;
        }

        .tit {
            margin: 1.7% 37%;
        }

        header h2 {
            color: #707070;
            font: normal 18pt Comic Sans MS;
        }

        section {
            margin-left: 38%;
        }

        .form-control {
            display: block;
            padding: 15px;
            margin-top: 3%;
            width: 20vw;
            border-radius: 5px;
            border: solid 4px #FFD500;
            outline: none;
        }

            .form-control::placeholder {
                font: italic 12pt Comic Sans MS;
            }

        .btn_cria {
            cursor: pointer;
            border: none;
            background-color: #B35149;
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;
            text-decoration: none;
            border-radius: 25px;
            color: #fff;
            font: normal 12pt Candara;
        }

        .entrar {
            margin-left: 13%;
        }

        .link {
            margin: 1% 2%;
            color: #5E3F34;
            font: normal 15pt Candara;
        }
        .text-danger {
            color: #9f4845;
            font: bold 10pt Comic Sans MS;
        }
    </style>
</head>
<body>
    <header>
        <a href="Login_Home" style="text-decoration: none;"><div class="back">
            <img src="~/fonts/Home_Login/voltar.png"><h3>Voltar</h3>
        </div></a>
        <div class="tit"><h2>CRIAR CONTA</h2></div>
    </header>

    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.user_login, new { htmlAttributes = new { placeholder = "Nome de usuário", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user_login, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.rg_usu, new { htmlAttributes = new { placeholder = "RG", @class = "form-control", @id="rg_usu" } })
                        @Html.ValidationMessageFor(model => model.rg_usu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.senha_login, new { htmlAttributes = new { placeholder = "Senha", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.senha_login, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.confirmaSenha, new { htmlAttributes = new { placeholder = "Confirme sua senha", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.confirmaSenha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin: 5% 7%;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="CRIAR CONTA" class="btn_cria" onclick="Criar()" />
                    </div>
                </div>
                <div class="entrar">
                    @Html.ActionLink("Entrar", "Login_Home", "Login", new { @class = "link" })
                </div>
            </div>
        }
    </section>
</body>
</html>