




@model AppBancoDominio.Conta

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - CFC</title>
    <link rel="sortcut icon" href="~/fonts/Home_Func/logo_copo.png" type="image/png">
    <style>
        body {
            margin: 0;
            background-color: #fff6e5;
        }

        header {
            display: block;
            text-align: center;
        }

        section {
            margin-left: 15.7%;
            margin-bottom: 0%;
            display: flex;
        }

        .form {
            display: flex;
        }

        h3 {
            font: normal 16pt comic Sans MS;
            text-transform: uppercase;
            color: #b09081;
        }

        .main {
            padding-top: 10px;
        }

        .first_main, .second_main {
            display: grid;
            text-align: center;
            height: 8vh;
            width: 30vw;
        }


        .user, .senha {
            display: block;
            padding: 15px;
            width: 20vw;
            border-radius: 5px;
            border: solid 4px #FFD500;
            outline: none;
            margin: 3% 10%;
        }

        input::placeholder {
            font: italic 12pt Comic Sans MS;
        }

        .btn_login {
            cursor: pointer;
            width: 22vw;
            margin: 0% 10%;
            display: flex;
            padding: 10px;
            justify-content: center;
            background-color: #B35149;
            text-align: center;
            text-decoration: none;
            border-radius: 25px;
            border: none;
            color: #fff;
            font: normal 12pt Candara;
        }

        .text-danger {
            transition: ease 2s;
            margin: 3%;
            display: inline-flex;
            color: #5E3F34;
            font: bold 12pt Comic Sans MS;
        }

        .link {
            margin: 1% 2%;
            color: #5E3F34;
            font: normal 15pt Candara;
        }
    </style>
</head>
<body>
    <header>
        <img src="~/fonts/Home_Login/logo_copo.png" style="width: 6%; padding-top: 1%;" />
        <span class="title" style="color: #5E3F34; font: bold 20pt Berlin Sans FB; display: block; text-transform: uppercase; padding-top: 1%;">CoffeeForCode</span>
    </header>
    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="first_main">
                <h3>ENTRE COMO CLIENTE</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="main">
                    @Html.EditorFor(model => model.user_login, new { htmlAttributes = new { @placeholder = "Nome de usuário", @class = "user" } })
                    @Html.ValidationMessageFor(model => model.user_login, "", new { @class = "text-danger" })
                    @Html.PasswordFor(model => model.senha_login, new { @placeholder = "Senha", @class = "senha" })
                    @Html.ValidationMessageFor(model => model.senha_login, "", new { @class = "text-danger" })
                </div>
                <button class="btn_login">ENTRAR COM CLIENTE</button>
            </div>
        }

        <hr style="width: 0.5vw; height: 55vh; background-color: #B0E5F3; border: none; margin:4.5%;">
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="second_main">
                <h3>ENTRE COMO FUNCIONÁRIO</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="main">
                    @Html.EditorFor(model => model.user_login, new { htmlAttributes = new { @placeholder = "Nome de usuário", @class = "user" } })
                    @Html.ValidationMessageFor(model => model.user_login, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.senha_login, new { htmlAttributes = new { @placeholder = "Senha", @class = "senha" } })
                    @Html.ValidationMessageFor(model => model.senha_login, "", new { @class = "text-danger" })
                </div>
                <input type="submit" class="btn_login" id="btn_Func" value="ENTRAR COMO FUNCIONÁRIO" />
            </div>
        }
    </section>
    <footer style="text-align: center; margin-left: 4%;">
        <div style="text-align: center;">
            @Html.ActionLink("Criar Conta.", "Cria_Conta", "Login", null, new { @class = "link" })
            @Html.ActionLink("Esqueceu a senha?", "Esqueceu_Senha", "Login", null, new { @class = "link" })
        </div>
    </footer>
</body>
</html>
