
@{
    ViewBag.Title = "BuscaCliente";
    Layout = "~/Views/Shared/_CFCfunc.cshtml";
}

<style>
    section{
        display: inline-flex;
        background: red;
        margin-left: 15%;
    }
</style>
<body>
    <section>
        @using (Html.BeginForm("BuscaCliente", "Funcionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2>Buscar Cliente</h2>
            <div>

                <input type="submit" value="Buscar" name="btn" id="btn">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="search" class="busca_cli" name="txtRG" id="txtRG" placeholder="Buscar Cliente" value="@ViewBag.rg_usu" />
                <input type="text" name="txtNome" id="txtNome" value="@ViewBag.id_usu" />
                <input type="text" name="txtNome" id="txtNome" value="@ViewBag.user_login" />
                <input type="text" name="txtNome" id="txtNome" value="@ViewBag.rg_usu" />
                <input type="text" name="txtNome" id="txtNome" value="@ViewBag.senha_login" />
            </div>
        }
    </section>
</body>