@model AppBancoDominio.Funcionario

@{
    ViewBag.Title = "DetalhesFunc";
    Layout = "~/Views/Shared/_CFCfunc.cshtml";
}

<style>
    header{
        display: inline-flex;
    }
    .container {
        display: block;
        width: 70vw;
        height: 80vh;
        margin-top: 2%;
        margin-left: 22%;
        position: relative;
        background: #fff;
        border: solid 6px #fff6e5;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        text-align: center;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    }
    h2 {
        font: bold 20pt Comic Sans MS, "sans-serif";
        color: #6b4d41;
        margin: 2% 10%;
        display: block;
    }
    .dl-horizontal {
        display: block;
        margin:5% 8%;
        width: 120%;
    }

    dt {
        margin-top:1.5%;
        font: bold 12pt Comic Sans MS;
        color: #6b4d41;
        text-align: center;
    }
    dd{
        color:rgba(0, 0, 0, .5);
        text-align:start;
        font: normal 12pt Comic Sans MS;
        padding-right:250px;
    }
    .campo {
        font: bold 15pt Candara;
        display: grid;
        padding: 6px;
        width: 25vw;
        border-radius: 5px;
        border-bottom: solid 4px #FFD500;
        outline: none;
        margin: 0.8rem 21rem;
    }
    

</style >

<header>
    <div class="container">
        <h2>Detalhes</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id_func):
            </dt>

            <dd class="campo">
                @Html.DisplayFor(model => model.id_func)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nm_func):
            </dt>

            <dd class="campo">
                @Html.DisplayFor(model => model.nm_func)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cg_func):
            </dt>

            <dd class="campo">
                @Html.DisplayFor(model => model.cg_func)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email_func):
            </dt>

            <dd class="campo">
                @Html.DisplayFor(model => model.email_func)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cpf_func):
            </dt>

            <dd class="campo">
                @Html.DisplayFor(model => model.cpf_func)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.end_func):
            </dt>

            <dd class="campo">
                @Html.DisplayFor(model => model.end_func)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tel_func):
            </dt>

            <dd class="campo">
                @Html.DisplayFor(model => model.tel_func)
            </dd>

        </dl>
        <a href=""><input type="submit" /></a>
        <a href=""><input type="submit" /></a>
    </div>
</header>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
