@model AppBancoDominio.Funcionario

@{
    ViewBag.Title = "EditarFunc";
    Layout = "~/Views/Shared/_CFCfunc.cshtml";
}
<style>

    h2 {
        text-align: center;
        display: block;
        font: bold 22pt Comic Sans MS;
        text-transform: uppercase;
        color: #6b4d41;
    }

    .form {
        display: block;
        width: 60vw;
        height: 90vh;
        margin-top: 2%;
        margin-left: 22%;
        position: relative;
        background: #fff;
        border: solid 6px #fff6e5;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        text-align: center;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    }

    .campo {
        font: bold 15pt Candara;
        display: grid;
        padding: 6px;
        width: 25vw;
        border-radius: 5px;
        border: solid 4px #FFD500;
        outline: none;
        margin: 0.8rem 21rem;
    }

    .btn_edit {
        margin: auto 13rem;
        cursor: pointer;
        width: 16vw;
        display: flex;
        padding: 15px;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        border-radius: 25px;
        border: none;
        color: #fff;
        font: bold 14pt Candara;
        text-transform: uppercase;
        background-color: #b78278;
        color: #fff;
        transition: 0.5s;
    }

        .btn_edit:hover {
            background: #6b4d41;
        }

    .verFunc {
        font: bold 12pt Candara;
        color: #6b4d41;
        width: 20%;
        display: flex;
        padding-top: 15px;
        margin-left: 5%;
    }
</style>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<section>
    <div class="form">
        <h2>EDITAR FUNCIONÁRIO</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_func, new { htmlAttributes = new { @class = "campo" } })
                @Html.ValidationMessageFor(model => model.id_func, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.nm_func, new { htmlAttributes = new { @class = "campo" } })
                @Html.ValidationMessageFor(model => model.nm_func, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.cg_func, new { htmlAttributes = new { @class = "campo" } })
                @Html.ValidationMessageFor(model => model.cg_func, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.email_func, new { htmlAttributes = new { @class = "campo" } })
                @Html.ValidationMessageFor(model => model.email_func, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.cpf_func, new { htmlAttributes = new { @class = "campo" } })
                @Html.ValidationMessageFor(model => model.cpf_func, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.end_func, new { htmlAttributes = new { @class = "campo" } })
                @Html.ValidationMessageFor(model => model.end_func, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel_func, new { htmlAttributes = new { @class = "campo" } })
                @Html.ValidationMessageFor(model => model.tel_func, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ActionLink("Ver Funcionários", "FuncCadastrados", "Funcionario", new { @class = "verFunc" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn_edit" />
            </div>
        </div>
    </div>

</section>
    }
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#cpf_func").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
        })
        $(document).ready(function () {
            $("#tel_func").inputmask("mask", { "mask": "(99)9999-99999" });
        })
    </script>
}
