@model IEnumerable<AppBancoDominio.Funcionario>

@{
    ViewBag.Title = "FuncCadastrados";
    Layout = "~/Views/Shared/_CFCfunc.cshtml";
}
<style>
    header{
        border: solid 3px #6b4d41;
        display: inline-flex;
        justify-content:space-between;
        margin: 3rem 15%;
        width: 70vw;
        border-radius: 15px;
    }
        header > h2 {
            font: bold 20pt Comic Sans MS, "sans-serif";
            color: #6b4d41;
            margin: auto 10%;
        }
    .add_func {
        justify-content: space-between;
        border: solid 3px #ffd500;
        display: flex;
        margin: 2%;
        width: 20vw;
        border-radius: 15px;
        padding: 10px;
        cursor: pointer;
        font: bold 15pt Comic Sans MS, "sans-serif";
        transition: 0.5s;
    }
    .add_func > span > i{
        color:#9f4845;
        font-size:40pt;
        display: flex;
        margin-left: 30%;
    }
        .add_func > h3 {
            font: bold 15pt Comic Sans MS, "sans-serif";
            color: #9f4845;
            margin: auto 10%;
        }
        .add_func:hover {
            box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
            text-decoration: none;
        }
    section {
        border: solid 3px #6b4d41;
        display: inline-flex;
        justify-content: space-between;
        margin: auto 5%;
        width: 90%;
        border-radius: 15px;
        padding: 10px;
    }
    .abas_func {
        text-align: center;
        display:flex;
        border-radius: 15px;
        border: solid 3px #ffd500;
        width: 100%;

    }
    .abas_func > th{
        justify-content: space-between;
        font: normal 12pt Comic Sans MS, "sans-serif";
        color: #6b4d41;

    }
    .resul_func {
        justify-content: center;
        align-items:center;
        margin: auto 2rem;
        border-bottom:solid 1px #6b4d41;
        justify-content: space-between;
        display: flex;
        
    }
        .resul_func > td {
            flex-direction: column;
            margin: auto 1%;
            font: normal 1em Comic Sans MS, "sans-serif";
            color: #9f4845;
        }
    .editar{
        color: #ffd500;
    }
    .delete {
        color: #D94E4A;
    }
    .link {
        font: normal 1em Comic Sans MS, "sans-serif";
        text-decoration: none;
    }
        .link:hover {
            text-decoration: none;
        }
</style>

<header>
    <h2>FUNCIONÁRIOS CADASTRADOS</h2>
    <a href="CadastrarFunc" class="add_func">
        <span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
        <h3>ADICIONAR</h3>
    </a>
</header>
<section>
    <table class="table">
        <tr class="abas_func" >
            <th style=" margin-left:1.5%;">
                <div>@Html.DisplayNameFor(model => model.id_func)</div>
            </th>
            <th style=" margin-left: 8%;">
                @Html.DisplayNameFor(model => model.nm_func)
            </th>
            <th style=" margin-left:13%;">
                @Html.DisplayNameFor(model => model.cg_func)
            </th>
            <th style=" margin-left:10%;">
                @Html.DisplayNameFor(model => model.email_func)
            </th>
            <th style=" margin-left:11%;">
                @Html.DisplayNameFor(model => model.cpf_func)
            </th>
        
            <th style=" margin-left:7%;">
                @Html.DisplayNameFor(model => model.tel_func)
            </th>
            <th style=" margin-left: 8%; margin-top:3px; background:#b09081; color: #fff; border-radius:10px; text-align:center; width:7vw; height:5vh;">Opções</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="resul_func" >
                <td>
                    <div style="display: flex;">@Html.DisplayFor(modelItem => item.id_func)</div>
                </td>
                <td >
                    <div style="display: flex;">@Html.DisplayFor(modelItem => item.nm_func)</div>
                </td>
                <td>
                    <div style="display: flex;">@Html.DisplayFor(modelItem => item.cg_func)</div>
                    
                </td>
                <td>
                    <div style="display: flex;">@Html.DisplayFor(modelItem => item.email_func)</div>
                </td>
                <td>
                    <div style="display: flex;">@Html.DisplayFor(modelItem => item.cpf_func)</div>
                    
                </td>
                <td>
                    <div style="display: flex;">@Html.DisplayFor(modelItem => item.tel_func)</div>
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarFunc", new { id = item.id_func }, new { @class = "editar link" }) |
                    @Html.ActionLink("Detalhes", "DetalhesFunc", new { id = item.id_func }, new { @class="detalhes link"}) |
                    @Html.ActionLink("Excluir", "ExcluirFunc", new { id = item.id_func }, new { @class = "delete link" })
                </td>
            </tr>
        }

    </table>
</section>