@model AppBancoDominio.Compras

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Compra - CoffeeForCode</title>
    <link rel="sortcut icon" href="~/fonts/Home_Cliente/logo_copo.png" type="image/png" />
    <style>
        body {
            margin: 0;
        }

        header, .back, .tit {
            display: inline-flex;
        }

        nav {
            background-color: #fff6e5;
            display: flex;
            width: 100vw;
        }

        .logo {
            margin-left: 8%;
            width: 6vw;
            height: 12vh;
        }

        #loc {
            background-color: #9f4845;
            color: #fff;
        }

        ul {
            display: flex;
            list-style: none;
            width: 90%;
            margin: 2%;
        }

        li a {
            font: bold 12pt comic Sans MS;
            text-decoration: none;
            color: #707070;
            display: flex;
            padding: 6px;
            text-transform: uppercase;
            border-radius: 25px;
            list-style: none;
            margin-left: 10vw;
        }

            li a:hover {
                background-color: #9f4845;
                color: white;
                transition: 0.5s;
            }

        main {
            display: flex;
            width: 75vw;
            height: 70vh;
            padding-left: 10%;
        }

        .container, .box {
            color: white;
            font: bold 12pt Comic Sans MS;
            text-decoration: none;
            border-radius: 10px;
            margin: 5%;
            width: 25%;
            transition: 0.5s;
            cursor: pointer;
        }

            .container h2 {
                margin-bottom: -10%;
            }

        section {
            display: flex;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="~/fonts/Home_Cliente/logo_copo.png" class="logo" alt="">
            <ul>
                <li><a href="Home" id="">Home</a></li>
                <li><a href="Cardapio" id="loc">Cardápio</a></li>
                <li><a href="">Seja parceiro</a></li>
                <li><a href="">Trabalhe conosco</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <main>
            <a href="" onclick="Classico()" id="foto" class="container" style="background-image: url(/fonts/Home_Cliente/Cardapio/Burguer/Clássico.jpeg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                <div class="box" style="background: none; width:50%;">
                    <h2 id="nome_prod"></h2>
                    <h3 id="preco_prod"></h3>
                </div>
            </a>
        </main>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2>Realizar Compra</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.cd_compra, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cd_compra, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cd_compra, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cpf_usu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cpf_usu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cpf_usu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.end_usu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.end_usu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.end_usu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.numCasa_usu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.numCasa_usu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numCasa_usu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.blocoApa_usu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.blocoApa_usu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.blocoApa_usu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.formaPag_usu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.formaPag_usu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.formaPag_usu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }


    </section>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
