@model AppBancoDominio.Compras

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Compra - CoffeeForCode</title>
    <link rel="sortcut icon" href="~/fonts/Home_Cliente/logo_copo.png" type="image/png" />
    <style>
        body {
            margin: 0;
        }

        header, .tit {
            display: inline-flex;
        }

        .back {
            display: inline-flex;
            cursor: pointer;
        }

        nav {
            background-color: #fff6e5;
            display: flex;
            width: 100vw;
        }

        .logo {
            margin-left: 8%;
            width: 6vw;
            height: 12vh;
        }

        #loc {
            background-color: #9f4845;
            color: #fff;
        }

        ul {
            display: flex;
            list-style: none;
            width: 90%;
            margin: 2%;
        }

        li a {
            font: bold 12pt comic Sans MS;
            text-decoration: none;
            color: #707070;
            display: flex;
            padding: 6px;
            text-transform: uppercase;
            border-radius: 25px;
            list-style: none;
            margin-left: 10vw;
        }

            li a:hover {
                background-color: #9f4845;
                color: white;
                transition: 0.5s;
            }

        .second_main {
            display: flex;
            margin-top: 2%;
            width: 32vw;
            height: 72vh;
            padding-left: 4%;
        }

        .container {
            color: white;
            font: bold 12pt Comic Sans MS;
            text-decoration: none;
            border-radius: 10px;
            margin: 5%;
            width: 55%;
            height: 75%;
            transition: 0.5s;
            cursor: pointer;
            margin-left: 20%;
        }

        .box h2 {
            margin-bottom: -10%;
            margin-left: 8%;
        }

        section {
            display: flex;
        }

        .back img {
            width: 2vw;
            height: 2vw;
            margin: 30% 15%;
        }

        .back h4 {
            display: flex;
            color: #9f4845;
            font: bold 15pt Comic Sans MS;
        }

        .tit {
            display: inline-flex;
            width: 25vw;
            margin-left: 48%;
        }

            .tit h2 {
                letter-spacing: 1px;
                text-transform: uppercase;
                font: bold 18pt Comic Sans MS;
                color: #6b4d41;
            }

        .subtit {
            font: normal 15pt comic Sans MS;
            text-transform: uppercase;
            color: #b09081;
            text-align: center;
        }

        .campo {
            display: block;
            padding: 10px;
            width: 20vw;
            border-radius: 5px;
            border: solid 4px #FFD500;
            outline: none;
            margin-left: 5%;
        }

        input::placeholder {
            font: italic 12pt Comic Sans MS;
        }


        .text-danger {
            transition: ease 2s;
            margin: 3%;
            display: inline-flex;
            color: #5E3F34;
            font: bold 12pt Comic Sans MS;
        }

        form {
            display: block;
            height: 55vh;
            margin-top: 2%;
        }

        /*.modal-container {
            width: 100vw;
            height: 100vh;
            margin: auto;
            background: transparent;
            border-radius: 5px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2000;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .modal-container.show {
                display: flex;
            }

        .modal {
            background: white;
            width: 35vw;
            height: 40vh;
            min-width: 300px;
            border: 10px solid white;
            border-radius: 20px;
        }

        .show .modal {
            animation: ease-out modal 3s;
        }

        .modal-header {
            text-align: center;
            height: 50px;
            padding: 10px;
            background: white;
        }

            .modal-header img {
                width: 15vw;
                animation: modal 1s;
                text-align: center;
                margin-top: 5%;
            }

        #close {
            float: right;
            background: RED;
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            cursor: pointer;
            overflow: none;
        }

            #close:hover {
                transform: scale(1.2);
                transition: 0.2s ease-in-out;
            }

            #close:active {
                transform: scale(0.9);
            }

        #modal-title {
            font: bold 16pt Comic Sans MS;
            color: green;
            text-shadow: 0 0 15px rgb(245, 211, 255);
        }
*/
        #open {
            cursor: pointer;
            width: 22vw;
            margin: 0% 5%;
            display: flex;
            padding: 10px;
            justify-content: center;
            background-color: #B35149;
            text-align: center;
            text-decoration: none;
            border-radius: 25px;
            border: none;
            color: #fff;
            font: normal 12pt Candara;
        }

            #open:hover {
                transform: scale(1.1);
                transition: 0.2s ease-in-out;
                background: #a14d46;
            }

            #open:active {
                transform: scale(1);
            }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="~/fonts/Home_Cliente/logo_copo.png" class="logo" alt="">
            <ul>
                <li><a href="Home" id="">Home</a></li>
                <li><a href="Cardapio" id="loc">Cardápio</a></li>
                <li><a href="Parceiro">Seja parceiro</a></li>
                <li><a href="TrabalheConosco">Trabalhe conosco</a></li>
            </ul>
        </nav>
    </header>
    <main class="first_main" style="height: 10vh; width:97vw;margin-top: 0%; ">
        <a onclick="history.back()" style="text-decoration: none;">
            <div class="back">
                <img src="~/fonts/Home_Login/voltar.png"><h4>Voltar</h4>
            </div>
        </a>
        <div class="tit"><h2>Realizar Compra</h2></div>

    </main>

    <section>
        <main class="second_main">
            <a href="" onclick="Classico()" id="foto" class="container" style="background-image: url(/fonts/Home_Cliente/Cardapio/Cafe/expresso.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                <div class="box" style="background: none; width:50%;">
                    <h2>Expresso</h2>
                    <h2>R$ 5,00</h2>
                </div>
            </a>
        </main>

            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h3 class="subtit">ENTREGAR EM SUA CASA</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.end_usu, new { htmlAttributes = new { @placeholder = "Endereço", @class = "campo" } })
                        @Html.ValidationMessageFor(model => model.end_usu, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.numCasa_usu, new { htmlAttributes = new { @placeholder = "N°", @class = "campo" } })
                        @Html.ValidationMessageFor(model => model.numCasa_usu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cpf_usu, new { htmlAttributes = new { @placeholder = "CPF", @class = "campo" } })
                        @Html.ValidationMessageFor(model => model.cpf_usu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.formaPag_usu, new { htmlAttributes = new { @placeholder = "Forma de Pagamento", @class = "campo" } })
                        @Html.ValidationMessageFor(model => model.formaPag_usu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" value="COMPRAR" class="btn_login" id="open"/>
            }
            <hr style="width: 0.5vw; height: 55vh; background-color: #B0E5F3; border: none; margin:4%;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h3 class="subtit">RETIRAR EM NOSSA LOJA</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cpf_usu, new { htmlAttributes = new { @placeholder = "CPF", @class = "campo" } })
                        @Html.ValidationMessageFor(model => model.cpf_usu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <iframe class="campo" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14629.13374852649!2d-46.8086855!3d-23.5582617!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d54688127eff95c!2sPadaria%20P%C3%A3o%20Bom.!5e0!3m2!1spt-BR!2sbr!4v1613140863962!5m2!1spt-BR!2sbr" width="150" height="85" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        <br />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.formaPag_usu, new { htmlAttributes = new { @placeholder = "Forma de Pagamento", @class = "campo" } })
                        @Html.ValidationMessageFor(model => model.formaPag_usu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" value="COMPRAR" class="btn_login" id="open" />
            }
        @*<div class="modal-container" id="modal">
            <div class="modal">
                <div class="modal-header">
                    <button id="close">x</button>
                    <h2 id="modal-title">COMPRA REALIZADA COM SUCESSO</h2>
                    <img src="~/fonts/Pop-up/check.png">
                </div>
            </div>
        </div>*@
    </section>
</body>
@*<script>
    function openModal(modalID) {
        // Captura o modal através do seu ID
        const modal = document.getElementById(modalID);
        // Adiciona a classe que faz o modal aparecer
        modal.classList.add('show');
    }

    function closeModal(modalID) {
        // Captura o modal através do seu ID
        const modal = document.getElementById(modalID);
        // Adiciona a classe que faz o modal aparecer
        modal.classList.remove('show');
    }

    // Captura o botão de abrir o modal
    const botaoAbrir = document.querySelector('#open');
    // Adiciona o evento que chama a função de abrir o modal ao clicar no botão
    botaoAbrir.addEventListener('click', function () { openModal('modal') });

    // Captura o botão de fechar o modal
    const botaoFechar = document.querySelector('#close');
    // Adiciona o evento que chama a função de abrir o modal ao clicar no botão
    botaoFechar.addEventListener('click', function () { closeModal('modal') });
</script>*@
</html>
